<a href="" class="backk">戻る</a>
<section>
  <% if @members.length > 0 %>
    <div class="box">
      <% @members.each do |member| %>
        <a href="<%= message_talk_url :id => member.id %>" class="message_list">
          <div class="message_list1">
            <% if member.showable_images.length > 0 %>
              <img src="<%= member.showable_images.first.image_url() %>">
            <% else %>
              <img src="/images/sample_user.jpg">
            <% end %>
          </div>
          <div class="message_list2">
            <% if member.timeline_created_at != nil then %>
              <p><%= member.timeline_created_at.strftime("%Y年%m月%d日 %H時%M分%S秒") %></p>
              <p><%= member.display_name %>さんからメッセージを受信しました</p>
            <% else %>
              <p>まだメッセージのやり取りがありません</p>
            <% end %>
          </div>
        </a>
      <% end %>
    </div>
  <% else %>
    <div class="box">
      <h2 class="noto">メッセージ</h2>
      <p class="cation">現在､メッセージのやり取りが可能なマッチング済みのユーザーはいません｡</p>
      <div class="tex_c">
        <p class="font12">
          <a class="button_to_back_previous_page" href="{{url()->previous()}}">前ページへ戻る</a>
        </p>
      </div>
    </div>
  <% end %>
</section>
<!-- ページング機能 -->
@if ($matching_users->hasPages())
<div class="paging">
  {{-- Previous Page Link --}}
  @if ($matching_users->onFirstPage())
  {{-- <span class="disabled" aria-disabled="true">
    <img src="/images/back.png" width="24">
  </span> --}}
  @else
  <a href="{{ $matching_users->previousPageUrl() }}" rel="prev">
    <img src="/images/back.png" width="24">
  </a>
  @endif
  {{-- Next Page Link --}}
  @if ($matching_users->hasMorePages())
  <a href="{{ $matching_users->nextPageUrl() }}" rel="next">
    <img src="/images/forward.png" width="24">
  </a>
  @else
  {{-- <span class="disabled" aria-disabled="true">
    <img src="/images/forward.png" width="24">
  </span> --}}
  @endif
</div>
