<a href="" class="backk">戻る</a>
<section>
  <div class="box">
    <h2 class="noto">正しく表示できません</h2>
    <p class="cation"><%= @error_message %></p>
    <div class="tex_c">
      <p class="font12">
        <a class="button_to_back_previous_page" href="{{url()->previous()}}">前ページへ戻る</a>
      </p>
    </div>
  </div>
</section>
